/*
 * ENIGMA Bipolar Disorder Gateway
 * Author: Mona Wong
 */

.age_gender_chart {
    padding-bottom: 50px;
}


.breadcrumb {
    visibility: hidden;
}

.info {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

table td, table td *, table th, table th * {
    vertical-align: top;
}

.url-textfield { display: none !important; }

